@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
#titulo_principal{
           text-align: center;
 }
 
#titulo_secundario{
text-align: right;
}

nav{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 3px;
}

nav a{
   text-decoration: solid;
   color: #ffe556;
   background-color: black;
   text-transform: uppercase;
   padding: 6px;
   display: inline-flex;
   border-style: inset;
   border-width: 5px;
   
}

 h1{
    color: #ffe556;
    text-align: center;
    font-size: 50px;
 }

 h2{
    color: #ffe556;
 }
 
 p{
    color: white;
    font-size: 20px;
 }

 li{
    color: white;
    opacity: 4;
    font-size: 20px;
 }
             
 .imagem-no-canto{
    float: right;

 }

 .noticia{
    border: solid 3px wheat;
    width: 500px;
    position: none; /*define o posicionamento atras ou na frente dos elementos html: fixed, relative, absolute, static*/
    height: 400px;
    overflow: hidden; /* trata o comportamento de quando por exemplo um texto passa das bordas de um elemento html- visible, hiden , scrol*/
    box-shadow: 3px 3px 3px rgb(229, 245, 6); /*define a sombra de um elemento html de bloco*/
 }

 .um{

   background-color: rgb(5, 0, 0);
    top: 1000px;
    left: 5000px;
    z-index: 3; /*define a ordem dos elementos um atras do outro*/


 }


 

.rodape{
    text-align: center;
}
body{
    /*Topografia CSS*/
    background-color:#00bcf0;
    color: rgb(255, 238, 0); /*Cor da fonte*/
    font-family: "Roboto", sans-serif; /*Fonte do texto*/
    font-size: 16px ; /*Tamanho da fonte - px/em/rem*/
}
#layout{
    font-size: 1em; /*Herda o tamanho do pai dele com um multiplicador*/
    display: flex;
    flex-direction: column; /*Usado para definir a direção dos elementos que sao filhos de um diplay flex*/
    font-style: normal; /*Estilo da fonte: italic - normal - oblique*/
    line-height: 25px; /*Espaçamento de linhas*/
    font-weight: 400; /*Negrito em CSS 100 a 900 - bold e bolder*/
    text-transform: none; /*Capitalização do texto upercase, lowecase e captalize*/
    text-decoration: none; /*Sublinhado de texto: under e overline-double-dashed-dotted-wavy-none*/
    word-spacing: 5px; /*Espacamento entre palavras*/
    letter-spacing: none; /*Espacmento entre letras*/
    text-indent: 20px; /*Espacamento de paragrafo primeira linha*/
    text-align: justify; /*Alinhamento do texto: left-right-center-justify*/
    border-style: solid; /*Estilo da borda inset, solid, dashed, dotted, groove, ridge, outset*/
    border-width: 5px; /*Espessura da borda*/
    border-color: #ffe556;
    border: solid 5px rgb(3, 252, 207); /*Definir estilo espessura e cor da borda numa mesma linha*/
    border-top: solid 10px #ffe556; /*estiliza determinado canto das bordas*/
    border-bottom: solid 10px #ffe556;
    border-left: solid 10px #ffe556;
    border-right: solid 10px #ffe556;
    border-radius: 50px 50px 50px 50px; /*Arredondar cantos da borda px ,% */
    margin: 20px; /*margem do lado de fora da borda*/
    margin-right: 20px; /*margem do lado de fora da borda*/
    margin-left: 20px; /*margem do lado de fora da borda*/
    margin-top: 20px; /*margem do lado de fora da borda*/
    margin-bottom: auto; /*margem do lado de fora da borda*/
    padding: 20px; /*Margem dentro da borda*/
    padding-bottom: 20px; /*Margem dentro da borda*/
    padding-left: 20px; /*Margem dentro da borda*/
    padding-right: 20px; /*Margem dentro da borda*/
    padding-top: 20px; /*Margem dentro da borda*/
}
