@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

#titulo_principal{
   text-align: center;
 }
 
#titulo_secundario{
   text-align: right;
}

nav{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 3px;
}

nav a{
   text-decoration: solid;
   color: #ffe556;
   background-color: black;
   text-transform: uppercase;
   padding: 6px;
   display: inline-flex;
   border-style: inset;
   border-width: 5px;
   
}

 h1{
    color: #ffe556;
    text-align: center;
    font-size: 50px;
 }

 h2{
    color: #ffe556;
 }
 
 .titulo_preto{
   color: black;
 }

 p{
    color: white;
    font-size: 20px  
 }

 li{
    color: white;
    opacity: 4;
    font-size: 20px;
 }
             
 .imagem-no-canto{
    float: right;

 }



   .noticia{
      border: solid 5px #ffe556;
      width: 400px;
      position: static; 
      overflow: visible; 
      }

   .um{
      text-align: center;
      background-color: black;
      top: 1000px;
      left: 5000px;
   }

   .dois{
      text-align: center;
      background-color:black;
      top: 1000px;
      left: 5000px;
   }

   .tres {
      text-align: center;
      background-color:black;
      top: 1000px;
      left: 5000px;
   position: right;
  
   
 }

 table{

   display: flex;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   font-size: 25px;
   border-width: 10px;
   
 }

 legend{

   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-size: 25px;
   border-width: 10px;
   text-transform: uppercase;
   color: #ffe556;

 }

 fieldset{

   border: ridge 5px rgb(0, 0, 0);
   border-top: solid 5px #000000;
   border-bottom: solid 5px #0c0a00;
   border-left: solid 5px #070600;
   border-right: solid 5px #070600; 
   
}
 

.rodape{
    text-align: center;
}

body{
    
    background-color:#00bcf0;
    color: rgb(255, 238, 0);
    font-family: "Roboto", sans-serif; 
    font-size: 16px ; 
   }

#layout{
    display: flex;
    line-height: 25px; 
    word-spacing: 5px;  
    text-indent: 20px; 
    text-align: justify; 
    border-style: solid; 
    border-width: 5px; 
    border-color: #ffe556;
    border: solid 10px #ffe556; 
    border-radius: 50px 50px 50px 50px;
    margin: 20px; 
    padding: 20px;
}

.animacao img {
   display: block;
   animation: voar;
   animation-duration: 8s;
   animation-iteration-count: infinite;
}

@keyframes voar {
   0% {
      transform: translateX(0) scaleX(1);
   }
   49% {
      transform: translateX(1500px) scaleX(1);
   }
   50% {
      transform: translateX(1500px) scaleX(-1);
   }
   /* espelha ao chegar no fim */
   99% {
      transform: translateX(0) scaleX(-1);
   }
   100% {
      transform: translateX(0) scaleX(1);
   }
   /* volta ao normal */
}
